<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HandleLogIn</servlet-name>
        <servlet-class>Control.HandleLogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRefreshCategoryAjax</servlet-name>
        <servlet-class>Control.HandleRefreshCategoryAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRedirectAddCategory</servlet-name>
        <servlet-class>Control.HandleRedirectAddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleAddCategory</servlet-name>
        <servlet-class>Control.HandleAddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleAddRestaurant</servlet-name>
        <servlet-class>Control.HandleAddRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleTest</servlet-name>
        <servlet-class>Control.HandleTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetAllRestaurants</servlet-name>
        <servlet-class>Control.HandleGetAllRestaurants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleDeleteRestaurant</servlet-name>
        <servlet-class>Control.HandleDeleteRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleAddFoodMenu</servlet-name>
        <servlet-class>Control.HandleAddFoodMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleGetAllFoods</servlet-name>
        <servlet-class>Control.HandleGetAllFoods</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleLogIn</servlet-name>
        <url-pattern>/HandleLogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRefreshCategoryAjax</servlet-name>
        <url-pattern>/HandleRefreshCategoryAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRedirectAddCategory</servlet-name>
        <url-pattern>/HandleRedirectAddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleAddCategory</servlet-name>
        <url-pattern>/HandleAddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleAddRestaurant</servlet-name>
        <url-pattern>/HandleAddRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleTest</servlet-name>
        <url-pattern>/HandleTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetAllRestaurants</servlet-name>
        <url-pattern>/startPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleDeleteRestaurant</servlet-name>
        <url-pattern>/HandleDeleteRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleAddFoodMenu</servlet-name>
        <url-pattern>/HandleAddFoodMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleGetAllFoods</servlet-name>
        <url-pattern>/HandleGetAllFoods</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
